body {
  background-color: rgb(253, 6, 6) (247, 238, 238);
}
header {
  background-color: green;
}
main {
  background-color: rgb(255, 255, 255);
}
section {
  background-color: orange;
}
aside {
  background-color: yellow;
}
article {
  background-color: purple;
}
